#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.box{
  width: 20em;
  min-height: 10em;
  height: auto;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}
.box img{
  width: 100%;
  height: 12em;
  object-fit: cover;
}
.box .descBox{
  padding: 0 1em 0 1em;
}
.descBox span{
  padding: 0;
  margin: 0;
  background-color: lightblue;
}
.descBox h1{
  margin: 0em 0 0.4em 0;
}
.box .progLangContainer{
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.5em;
  row-gap: 0.3em;
  padding: 0 1em 1em 1em;
}
.progLangContainer .progLang{
  padding: 0.3em;
  border-radius: 8px;
  color: white;
}